<div class="span6 mgl-0">
  <fieldset>
    <legend>Personal Details</legend>
    <table>
      <tr>
        <td class="muted align-right pdr-10">Full Name</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td class="muted align-right pdr-10">Mobile</td>
        <td><%= @user.mobile %></td>
      </tr>
    </table>
  </fieldset>
</div>
